Name[fr]=Gestionnaire de fenêres Openbox
GenericName[fr]=Paramétrage de Openbox
Comment[fr]=Paramétrage du gestionnaire de fenêtres Openbox (Qt-Version)
